:root {
  --color-base: #50abbe;
  --color-dark: #007c91;
  --color-light: #aadce6;
  --color-black: #052227;
  --color-gray: #0a414b;
  --color-gray-light: #e6eef0;
  --color-gray-shadow: #97a5a821;
  --color-white: #fefefe;
  --color-yellow: #ea8d00;
  --color-yellow-light: #ffbd60;
  --font-small: 12px;
  --font-mid: 18px;
  --font-large: 32px;
  --font-title: 42px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border-style: none;
  outline-style: none;
  text-decoration: none;
  text-align: center;
  color: var(--color-black);
  background: none;
}
p {
  font-size: var(--font-mid);
  font-weight: 500;
}
h1 {
  font-size: var(--font-large);
  font-weight: 900;
}
h2 {
  font-size: var(--font-mid);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
}
.home,
.about,
.skills,
.works,
.contact {
  width: 100%;
  padding: 5rem;
}
/* Header Nav */
header {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-base);
}
img.logo {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.title,
.percentage {
  color: var(--color-white);
  font-size: var(--font-large);
}
.category__btn {
  font-size: var(--font-mid);
  font-weight: bold;
  color: var(--color-white);
  padding-right: 2rem;
  cursor: pointer;
}
/* Section1 home */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: no-repeat center/cover url(img/home_background.jpg);
}
.home__profile {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.profile__img {
  float: left;
  position: relative;
  width: 26rem;
  height: 26rem;
}
#leaf {
  display: block;
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 32rem;
}
.home__profile > h1 {
  display: inline-block;
  padding: 2rem;
  color: var(--color-white);
}
.home__profile > p {
  color: var(--color-white);
}
.home__profile #photo {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
.home__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
  width: 30%;
}
.content__btn {
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  border-radius: 6% 6%;
  border: solid 1px var(--color-white);
  color: var(--color-white);
  font-size: var(--font-mid);
  margin: 2rem;
}
.home__content h2 {
  color: var(--color-dark);
  text-align: end;
}
.home__content p {
  color: var(--color-black);
  text-align: end;
}
.home__content h1 {
  color: var(--color-yellow);
  text-align: end;
  margin-bottom: 2rem;
}
.content {
  margin-bottom: 2rem;
}
.content__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.content__box > .logo {
  width: 3rem;
  height: auto;
}
/* about */
.section__title {
  padding: 2rem;
}
.section__title h1 {
  color: var(--color-dark);
  font-size: var(--font-title);
}
.about__content p {
  color: var(--color-black);
}
.about__fields {
  display: flex;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.field .icon {
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  border: solid var(--color-base);
  border-radius: 100%;
  margin: 2rem;
}
.icon > i {
  font-size: 66px;
  line-height: 10rem;
  color: var(--color-dark);
}
.field__content {
  display: inline-block;
  border-top: solid 2px var(--color-light);
  margin-top: 1rem;
  padding-top: 1rem;
}

/* skills */
.skills {
  background-color: var(--color-yellow-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillbox {
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
  width: 80%;
  margin: 2rem;
}
.skillbox__skill {
  flex-grow: 3;
  padding: 2rem;
}
.skillbox__other {
  flex-grow: 2;
  padding: 2rem;
  background-color: var(--color-gray);
}
.skill {
  display: flex;
  flex-direction: column;
}
.skill__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill__desc > span,
.skillbox__other > ul > li {
  color: var(--color-white);
}
.skillbox__skill > ul {
  padding: 2rem 4rem;
}
.graph__var {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 1rem;
  background-color: var(--color-gray);
}
.graph__value {
  height: 1rem;
  background-color: var(--color-dark);
}
/* skills value */
#js .graph__value {
  width: 90%;
}
#ts .graph__value {
  width: 70%;
}
#react .graph__value {
  width: 80%;
}
#html .graph__value {
  width: 85%;
}
#java .graph__value {
  width: 85%;
}
#spring .graph__value {
  width: 70%;
}
.skillbox__other > ul {
  height: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
ul > h2 {
  color: var(--color-yellow-light);
}

/* works */
.works {
  padding: 0;
  margin: 5rem;
}
.category .category__btn {
  color: var(--color-black);
  border: solid 1px var(--color-dark);
  border-radius: 5%;
  text-align: center;
  padding: 0.5rem 2rem;
}
.category__btn span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: var(--color-white);
}

.worklist {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.worklist .work {
  display: inline-block;
  position: relative;
  margin: 0.3rem;
  width: 20rem;
  height: 24rem;
  background-color: var(--color-gray-light);
}

.work__info:hover {
  background-color: var(--color-gray-shadow);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
a .work__info {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a img {
  width: 20rem;
  height: 20rem;
}
.work__detail {
  /* display: none; */
  display: flex;
  width: 100%;
  height: 500px;
  background-color: var(--color-yellow-light);
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.work__detail .detail__url {
  flex-grow: 1;
}
.work__detail .detail__info {
  height: 80%;
  flex-grow: 2;
  border-left: solid 2px var(--color-dark);
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail__info div,
.detail__info h1 {
  text-align: start;
  padding-bottom: 1rem;
  color: var(--color-gray);
}
.detail__info span {
  font-weight: 900;
  color: var(--color-gray);
}
.detail__info p {
  display: inline-block;
}

/* footer */
.contact {
  background-color: var(--color-black);
  margin-top: 4rem;
}
footer .section__title > h1,
footer .section__title > p {
  color: var(--color-white);
}
.section__title {
  padding-top: 0;
}
.contact__contents p {
  color: var(--color-white);
}
.contact__contents > p:first-child {
  margin-bottom: 1rem;
}
.contact .icon {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.contact .icon i {
  color: var(--color-white);
  font-size: var(--font-large);
  padding: 1rem;
}
