:root {
  --color-base: #50abbe;
  --color-dark: #007c91;
  --color-white: #fefefe;
  --color-yellow: #ea8d00;
  --font-small: 12px;
  --font-mid: 18px;
  --font-large: 32px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border-style: none;
  outline-style: none;
  text-decoration: none;
  text-align: center;
  color: var(--color-white);
  background: none;
}
p {
  font-size: var(--font-mid);
  font-weight: 500;
}
h1 {
  font-size: var(--font-large);
  font-weight: 900;
}
h2 {
  font-size: var(--font-mid);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
}
/* Header Nav */
header {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-base);
}
img.logo {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.category__btn {
  font-size: var(--font-mid);
  font-weight: bold;
  padding-right: 2rem;
  cursor: pointer;
}
/* Section1 home */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  width: 100%;
  background: no-repeat center/cover url(img/home_background.jpg);
}
.home__profile {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.profile__img {
  float: left;
  position: relative;
  width: 26rem;
  height: 26rem;
}
#leaf {
  display: block;
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 32rem;
}
.home__profile > h1 {
  display: inline-block;
  padding: 2rem;
}
.home__profile #photo {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
.home__content {
  margin-top: 2rem;
  width: 30%;
}
.home__content h2 {
  color: var(--color-dark);
  text-align: start;
}
.home__content p {
  color: var(--color-dark);
}
.home__content h1 {
  color: var(--color-yellow);
  text-align: start;
  margin-bottom: 2rem;
}
.content {
  margin-bottom: 2rem;
}
.content__box {
  display: flex;
  margin-bottom: 2rem;
}
